<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
</head>
<body style="background-color:Thistle;">
<h2 style="font-family:timesnewroman; font-size:300%"> <i>Application Form</i></h2>
<form <form action="application" method="post" >

  {% csrf_token %}
  <label> Name:</label><input type="text" name="username" placeholder="Name"><br>
  <label> Date of birth:</label><input type="date" name="date" placeholder="Enter your date of birth:"><br>
    <label>Age:</label><input type="number" name="number" placeholder="Age"><br>
    <label> Email:</label> <input type="email" id="email" name="email"/> <br>
    <br>
<label>Address:</label>
    <textarea cols="80" rows="5" value="address">
</textarea>
     <label>Phone :</label>
        <input type="text" name="country code"  value="+91" size="2"/>
        <input type="text" name="phone" size="10"/> <br> <br>
    <br> <br>
<br> <br>
   <label>Gender:<br>
        <input type="radio" name="male"/> Male <br>
        <input type="radio" name="female"/> Female <br>
        <input type="radio" name="other"/> Other<br>
    </label>



    <br><br>

    <select id="district" onchange="ChangeCityList()">
  <option value="">-- District --</option><br>
  <option value="TRVANDRUM">Trivandrum</option>
  <option value="COK">Cochin</option>
  <option value="THSSR">Thrissur</option>
  <option value="MLPRM">Malappuram</option>
  <option value="KNR">Kannur</option>
</select>

<select id="Branch"></select>

<script>
var Districtsel = {};
Districtsel['TRVANDRUM'] = ["Varkala", "Neyyantinkara", "Nedumangadu", "Kattakada","Chirayinkeezhu"];
Districtsel['COK'] = ["Piravam", "Moovattupuzha", "Aluva", "Angamaly","Perumbavvor"];
Districtsel['THSSR'] = ["chalakkudy","chavakkad","Mannuthy","Guruvaayoor","Kodungallur"];
Districtsel['MLPRM'] = ["Manjeri", "Tirur", "Kondotty", "Kottakal","Nilambur"];
Districtsel['KNR'] = ["kannur", "Iritty", "mahee", "Mattannor","Chirakkal"];

function ChangeCityList() {
  var distList = document.getElementById("district");
  var branchList = document.getElementById("Branch");
  var seldist = distList.options[distList.selectedIndex].value;
  while (branchList.options.length) {
    branchList.remove(0);
  }
  var city = Districtsel[seldist];
  if (city) {
    var i;
    for (i = 0; i < city.length; i++) {
      var bank = new Option(city[i], i);
      branchList.options.add(bank);
    }
  }
}
</script>

<br>
 <label>Account type :</label>
<select><option value="Account">Account type</option>
    <option value="Saving Account">Savings Account</option>
    <option value="Current Account">Current Account</option>
    <option value="NRI account">NRI account</option>
    <option value="Salary Account">Salary Account</option>
</select>
<br><br>
<label>Materials :</label><br>
    <input type="checkbox" id="debit" name="debit" value="debit">
  <label for="debit"> Debit card</label><br>
  <input type="checkbox" id="credit" name="credit" value="credit card">
  <label for="credit"> credit card</label><br>
  <input type="checkbox" id="checkbook" name="checkbook" value="checkbook">
  <label for="checkbook"> Check book</label><br><br>



  <input type="submit">
</form>
</body>
</html>

